*{
	box-sizing:border-box;
}
body {
	background-color: #84B1ED;
}
table{
	margin-left: 50px;
	margin-top: 20px;
}
table, td {
   border: 1px solid black;
}
td{
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 18px;
	background-color: white;
}
th{
	height: 50px;
	text-align: right;
}
td:hover{
	cursor: pointer;
}
td.noDig{
	background-color: #fcbe32;
	color: white;
}